/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

:root {
  font-family: 'IBM Plex mono', sans-serif;
  padding: 10px;
  background-color: var(--bg-color);
}

.page {
  background-image: "../images/cover-image.png";
  background-attachment: fixed;
}


h3 {
  font-size: var(--h3-size);
  color: var(--header-text-color);

}

h4 {
  font-size: var(--h4-size);
  color: var(--header-text-color);

}

p {
  font-size: var(--text-size);
  color: var(--text-color);

}

.main-title {
text-shadow: 4px 4px 0 var(--accent-color);
color: var(--big-header-color);
font-size: 116px;
text-transform:lowercase;
}

.title-decor {
  background-color: var(--title-decor-color-bg);
  font-weight:normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

a {
  text-shadow: 2px 2px 0 var(--accent-color);
}

a:hover {
  border-bottom: 2px solid var(--text-color);
}

a:focus-visible  {
  border: var(--text-color) solid 1px;
}

header {
  height: 1vh;
  min-height: 668px;
}

.decorated-zone {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 228 max-content 228;
}

.header__theme-menu{
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}


footer {
  height: 1vh;
  min-height: 668px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
}

.footer-text {
  grid-row: 1;
  grid-column: 1; 
  justify-self: center;
  align-self: center;
}



h1 {
  font-size: var(--h1-size);
  line-height: 82.5%;
  grid-column: 1/3;
  grid-row: 2;
}

h2 {
  margin-top: 50px;
  margin-bottom: 10px;
}

h2, .h2 {
  font-size: var(--h2-size);
  color: var(--header-text-color);

}

.main-subtitle {
  grid-column: 1/3;
  grid-row: 3;
}


.header__theme-menu-button {
  color: var(--theme-buttons-color);
  background-color: transparent;
  text-transform: lowercase;
  border:none;
  font-size: var(--text-size);
  width: 70px;
  height: 26px;
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column;
  gap: 10px;
}


.header__theme-menu-button:hover {
  border: 1px solid  var(--button-hover-border);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid  var(--button-hover-border);

}


.header__theme-menu-button_active{
  background-color: transparent;
  border: 1px solid  var(--theme-buttons-color);
}

.why-is-difficult {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(2, max-content);
  gap:10px;
}

.what-redusing-concentration {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  min-content repeat(3, max-content);
  gap: 10px;
}

.how-to-improve {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  min-content repeat(5, max-content);
  gap: 10px;
}


img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-top: 10px;
}


.article-text {
margin-top: 10px;
margin-bottom: 20px;
}



@media (768px<=width<1024px){
:root {
  padding: 20px;
}

.main-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
.why-is-difficult {
  grid-template-columns: 236px 1fr;
  grid-template-rows: repeat (2, min-content);
  gap:20px;
}

.why-is-difficult-title {
  grid-column: 1;
  grid-row: 1;
  margin: 0px;
}

.why-is-difficult-article.first {
  grid-column: 2;
  grid-row: 1;
}

.why-is-difficult-article.second {
  grid-column: 2;
  grid-row: 2;
}


.what-redusing-concentration {
  grid-template-columns: 236px 1fr;
  grid-template-rows: 1fr repeat(3, min-content);
  gap: 20px;
}

.what-redusing-concentration-title {
  grid-column: 1/3;
  grid-row: 1;
  
}

.what-redusing-concentration-article.first {
  grid-column: 1/3;
  grid-row:  2;
}

.what-redusing-concentration-article.second {
  grid-column: 1/3;
  grid-row:  3;
}

.what-redusing-concentration-article.third {
  grid-column: 1/3;
  grid-row:  4;
}


.how-to-improve {
  grid-template-columns: 236px 1fr;
  grid-template-rows: min-content repeat(5, max-content);
  
}

.how-to-improve-subtitle {
  grid-column: 2;
  grid-row:  1/2;
  
}

.how-to-improve-title {
  grid-column: 1;
  grid-row: 1/3;
  margin: 0px;
}

.how-to-improve-article.first {
  grid-column: 2;
  grid-row:  2;
}

.how-to-improve-article.second {
  grid-column: 2;
  grid-row:  3;
}

.how-to-improve-article.third {
  grid-column: 2;
  grid-row:  4;
}
.how-to-improve-article.fourth {
  grid-column: 2;
  grid-row:  5;
}

.how-to-improve-article.fifth {
  grid-column: 2;
  grid-row:  6;
}

.image-container{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) auto;
}
}

.image_mountains{
  grid-column: 1/3;
  grid-row:  1;
}
.image_ice-cream{
  grid-column: 3;
  grid-row:  1/3;
}
.image_tape{
  grid-column: 1;
  grid-row:  2/4;
}
.image_books{
  grid-column: 2;
  grid-row:  2;
}
.image_street{
  grid-column: 2/4;
  grid-row:  3;
}

@media (1024<=width){
.main-title {
   font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
}
}
