/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --text-color: #353430; /* основной текст */
  --header-text-color: #353430; /* заголовки блоков */
  --title-decor-color-bg: #FF8DCB; /* фон заголовков */
  --accent-color:  #FF8DCB; /* тень текста */
  --big-header-color: #FFC2E6; /* no focus */
  --theme-buttons-color: #353430; /* цвета кнопок смены темы */

  --h1-size: 116px;
  --h2-size: 18px;
  --h3-size: 18px;
  --h4-size: 18px;
  --text-size: 18px;
}