/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #fff1f7;
  --text-color: #353430;
  /* основной текст */
  --header-text-color: #353430;
  /* заголовки блоков */
  --title-decor-color-bg: #ff8dcb;
  /* фон заголовков */
  --accent-color: #ff8dcb;
  /* тень текста */
  --big-header-color: #ffc2e6;
  /* no focus */
  --theme-buttons-color: #353430;
  /* цвета кнопок смены темы */
  --button-hover-border: #35343066;
  /*обводка кнопки с прозачностью*/
  --h2-color: #353430;

  --bg_image: url("../images/cover-image-light.png");
  --h1-size: 116px;
  --h2-size: 18px;
  --h3-size: 18px;
  --h4-size: 18px;
  --text-size: 18px;
}
