:root {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --text-color: #353430;
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --header1-color: #ffc2e6;
  --header2-color: var(--text-color);
  --header3-color: var(--text-color);
  --is-light: hidden;
  --font-family: 'IBM Plex mono', monospace;
  --regular-font-size: 18px;
  --small-line-height: 83%;
  --regular-line-height: 100%;
  --large-line-height: 130%;
  --title-line-height: 82.5%;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --font-style: normal;
}
